@charset "UTF-8";
@font-face {
    font-family: ComicS;
    src: url(fonts/ComicSansMS3.ttf)
}
@font-face {
    font-family: Payt;
    src: url(fonts/PaytoneOne-Regular.ttf);
}

/* ▼　初期設定 */
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}
body, p, br, img, ul, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
img {
    vertical-align: bottom;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
}


#main {
    overflow-x: hidden;
    width: 100%;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
.js-control {
    height: 100vh;
    scroll-snap-align: start;
}
#hirotaka, #working, #not-working {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#hirotaka .main-bg, #working .main-bg, #not-working .main-bg {
    position: relative;
    width: 95%;
    height: 95%;
    margin: 0 auto;
    border: 5px solid #000;
}
#hirotaka .main-bg {
    background-color: #e2a000;
}
#working .main-bg {
    background-color: #009AE2;
}
#not-working .main-bg {
    background-color: #7DDF70;
}
.designedby-text {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}
.hirotaka-title {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: calc(860 * 100vh / 1017);
    margin: 0 auto;
    padding-top: 1%;
}
.hirotaka-title img {
    width: 100%;
}
.illust-flex {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.js-control span{
    opacity: 0;
}
.js-control.is-active span{
    animation: text_anime 1s ease-in-out forwards; 
}
@keyframes text_anime {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hirotaka-illust {
    position: relative;
}
#hirotaka .hirotaka-illust {
    width: calc(1800 * 100vh / 1017);
}
.char-img01 {
    width: 100%;
}
#working .hirotaka-illust {
    width: calc(300 * 100vh / 1017);
}
.char-img02 {
    width: 100%;
}
#not-working .hirotaka-illust {
    width: calc(380 * 100vh / 1017);
    margin-top: calc(60 * 100vh / 1017);
}
.char-img03 {
    width: 100%;
}
#hirotaka .speech-bubble {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}
#working .speech-bubble {
    position: absolute;
    top: calc(2 * 100vh / 1017);
    left: calc(230 * 100vh / 1017);
    width: calc(400 * 100vh / 1017);
}
#not-working .speech-bubble {
    position: absolute;
    top: calc(0 * 100vh / 1017);
    right: calc(210 * 100vh / 1017);
    width: calc(480 * 100vh / 1017);
}
.speech-bubble img {
    width: 100%;
}

#hirotaka .text-in-illust, #working .text-in-illust, #not-working .text-in-illust {
    position: absolute;
    font-size: calc(28 * 100vh / 1017);
    font-family: ComicS;
    color: #000;
    text-align: center;
}
#hirotaka .text-in-illust {
    top: calc(0 * 100vh / 1017);
    left: calc(22 * 100vh / 1017);
    width: 86%;
    line-height: calc(50 * 100vh / 1017);
}
#working .text-in-illust {
    position: absolute;
    width: 70%;
    top: calc(40 * 100vh / 1017);
    left: calc(65 * 100vh / 1017);
    line-height: calc(60 * 100vh / 1017);
}
#not-working .text-in-illust {
    position: absolute;
    width: 70%;
    top: calc(35 * 100vh / 1017);
    left: calc(45 * 100vh / 1017);
    line-height: calc(60 * 100vh / 1017);
}
.link-btn {
    font-size: calc(50 * 100vw / 1920);
    color: #000;
    font-family: Payt;
    font-weight: bold;
    line-height: calc(50 * 100vw / 1920);
}
#hirotaka .link-btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#working .link-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(270 * 100vh / 1017);
}
#not-working .link-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(270 * 100vh / 1017);
}
.hirotaka-btn, .working-btn, .not-working-btn {
    display: inline-block;
    margin-right: 50%;
    margin: calc(70 * 100vh / 1017) 0;
    text-shadow: 3px 3px 2px #808080;
    cursor: pointer;
}
.hirotaka-btn:hover, .working-btn:hover, .not-working-btn:hover {
    color: #fff;
    text-shadow: 0px 0px 7px #fff;
}
#working .link-btn div:nth-of-type(2), #not-working .link-btn div:nth-of-type(3) {
    font-size: calc(110 * 100vw / 1920);
    line-height: calc(190* 100vh / 1017);
}


@media (max-aspect-ratio: 3 / 4) {
    #hirotaka .main-bg, #working .main-bg, #not-working .main-bg {
        height: 90%;
    }
    .hirotaka-title {
        width: 90%;
        margin: calc(150 * 100vw / 425) auto 5%;
    }
    .designedby-text {
        font-size: calc(9 * 100vw / 425);
    }
    .main-bg {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
    }
    .illust-flex{
        display: block;
    }
    #hirotaka .illust-flex {
        padding-bottom: calc(180 * 100vw / 425);
    }
    #hirotaka .hirotaka-illust {
        top:  calc(0 * 100vw / 425);
        left: 50%;
        transform: translateX(-50%);
        width: calc(220 * 100vw / 425);
        margin: calc(20 * 100vw / 425) 0;
    }
    #working .hirotaka-illust {
        top: calc(0 * 100vw / 425);
        left: calc(70 * 100vw / 425);
        width: calc(130 * 100vw / 425);
    }
    #not-working .hirotaka-illust {
        top: calc(0 * 100vw / 425);
        left: 60%;
        transform: translateX(-50%);
        width: calc(150 * 100vw / 425);
    }
    #hirotaka .text-in-illust, #working .text-in-illust, #not-working .text-in-illust {
        font-size: calc(10 * 100vw / 425);
    }
    #hirotaka .text-in-illust {
        top: calc(0 * 100vw / 425);
        left: calc(32 * 100vw / 425);
        width: 60%;
        line-height: calc(20 * 100vw / 425);
    }
    #working .text-in-illust {
        top: calc(25 * 100vw / 425);
        left: calc(34 * 100vw / 425);
        line-height: calc(20 * 100vw / 425);
    }
    #not-working .text-in-illust {
        top: calc(19 * 100vw / 425);
        left: calc(20 * 100vw / 425);
        line-height: calc(20 * 100vw / 425);
    }
    #working .speech-bubble {
        top: calc(10 * 100vw / 425);
        left: calc(110 * 100vw / 425);
        width: calc(180 * 100vw / 425);
    }
    #not-working .speech-bubble {
        top: calc(-35 * 100vw / 425);
        right: calc(80 * 100vw / 425);
        width: calc(190 * 100vw / 425);
    }
    .link-btn {
        font-size: calc(16 * 100vw / 425);
        line-height: calc(18 * 100vw / 425);
    }
    #hirotaka .link-btn {
        display: block;
        text-align: center;
    }
    #working .link-btn {
        margin-top: calc(20 * 100vw / 425);
        margin-right: 0;
    }
    #not-working .link-btn {
        margin-top: calc(0 * 100vw / 425);
    }
    .hirotaka-btn, .working-btn, .not-working-btn {
        margin: calc(5 * 100vw / 425) 0;
    }
    #working .link-btn div:nth-of-type(2), #not-working .link-btn div:nth-of-type(3) {
        line-height: calc(60 * 100vw / 425);
        font-size: calc(26 * 100vw / 425);
    }
}
